body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #161414;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    padding: 20px 0;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                0 0 10px rgba(255, 255, 255, 0.4),
                0 0 15px rgba(255, 255, 255, 0.3),
                0 0 20px rgba(59, 36, 36, 0.2);
}

.folder {
    overflow: hidden; 
    visibility: hidden;
    height: 0px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
    user-select: none;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    font-size: 20px;
}

span {
    pointer-events: none;
    font-weight: 500;
    letter-spacing: 1px;
}

i {
    pointer-events: none;
    margin-right: 10px;
}